*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    line-height: 1.1;
}
.container{
    padding: 1rem;
    height: 100vh;
    background: linear-gradient(16.76deg, #FFFFFF 49.26%, #228BE6 49.57%);
}
.header{
    text-align: center;
    margin-top:2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    /* text-decoration-line: ; */
    /* outline:1px #fff; */
    /* -webkit-text-stroke: 1px #fff; */
     /* border:solid 1px #fff; */

}
.operations{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 80%;
    background-color: #fff;
    /* visibility: hidden; */
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
    /* flex: 1; */
    overflow:scroll;
    
}
.operations-tab{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
   
    
}

.tab-style{
    padding: 1.4rem 1.4rem 0 1.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color:#777;
    border-bottom:0.1rem solid rgba(184, 182, 182, 0.59);
    width: 100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 1.2rem;
}
.tab-style.tab-active{
    color:#228BE6;
    border-bottom: 0.2rem solid #228BE6;
    width: 100%;
    text-align: center;


}
.operations-contents{
    display: block;
    height: 100%;
}
.operations-content{
    display: none;
    font-size: 2.4rem;
    height: 100%;
}
.operations-content.content-active{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items:flex-start;

}
.btn-sub{
    border: none;
    margin:1.2rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    /* background-color: ; */
    text-transform: uppercase;
    padding: 0.75rem 8rem;
    background: radial-gradient(68.64% 224.36% at 49.8% 0%, #5DA1E0 5.73%, #228BE6 99.48%);
    color: #ffff;
    border-radius:0.5rem;
    transition: all 0.5s ease-in-out;
}
.btn-sub:hover{
    background:#4dabf7;
}
/* .grade option{
    font-size: 1.6rem;
} */

.sub-container{
    width: 100%;
    margin:1.2rem 0;
}

.add-sub{
    display: grid;
    place-items: center;
    width: 100%;
}
.sub-container{
    display: flex;
    justify-content: space-evenly;
    /* gap: 2rem; */
    
}
.inp{
    width: 30%;
    padding:0.5rem 0;
    background: none;
    border: 0.1rem solid #C0B9B9;
    border-radius: 0.5rem;
    text-align: center;
    color: #C0B9B9;
}
input:focus{
outline: none;
border:0.1rem solid #228BE6;
}
select{
    background: none;
    border: 0.1rem solid #C0B9B9;
    color: #C0B9B9;
    border-radius: 0.5rem;
}

.result{
    margin-top:auto;
    margin-bottom: 15%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}
.result-text{
    font-size: 2.0rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #787777;

}
.result-text span,.result-sgpa{
    font-size: 1.8rem;
    text-transform: lowercase;
    color: #B8A7A7;
    

}
.final-result{
    font-size: 4.0rem;
    color: #146DBA;
    font-weight: 700;
}
.result-text span{
    color: #787777;

}
.inputs_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}